
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: yellow;
}
p {
  text-align: center;
}
.groupList {
  text-align: center;
}

table
{
  text-align: center;
}