
.navbar-nav .nav-item .nav-link {
    color: black;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: black;
    color: yellow;
}
p {
  text-align: center;
}
.groupList {
  text-align: center;
}

table
{
  text-align: center;
}