<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ User_FName }}</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.css' %}">
</head>
<body>
<h1>Account Information</h1>
<br>
<p>
    User ID - {{ User_ID }}
    <br>
    Password - {{ User_Password }}
    <br>
    First Name - {{ User_FName }}
    <br>
    Last Name - {{ User_LName }}
    <br>
    Birthdate - {{ User_DOB }}
    <br>
    Address - {{ User_Address }}
    <br>
    Phone Number - {{ User_Phone }}
    <br>
    Username - {{ UserName }}
    <br>
    Email - {{ User_Email }}
    <br>
    Type - {{ Account_type }}
</p>
<form action="/" method="get">
    <input type="submit" value="Back"/>
    <input type="submit" value="Logout"/>
</form>

</body>
</html>