
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/notSignedIn/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark bg-black text-warning" href="/account/">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editaccount/">Edit Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups/">Groups</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link border-dark" href="/joinedgroups/">Joined Groups</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<h1 class ="text-center"> Account Information</h1>
<br>
<p>
    User ID - {{ User_ID }}
    <br>
    Password - {{ User_Password }}
    <br>
    First Name - {{ User_FName }}
    <br>
    Last Name - {{ User_LName }}
    <br>
    Birthdate - {{ User_DOB }}
    <br>
    Address - {{ User_Address }}
    <br>
    Phone Number - {{ User_Phone }}
    <br>
    Username - {{ UserName }}
    <br>
    Email - {{ User_Email }}
    <br>
    Type - {{ Account_type }}
</p>
<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <a class="btn btn-warning" href="/editaccount/">Edit Information</a>
</div>
<form action="/" method="get">