{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/createGroups.scss' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Panther Pickups</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/notSignedIn/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark" href="/editaccount/">Edit Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups/">Groups</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link border-dark" href="/joinedgroups/">Joined Groups</a>
                </li>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link border-dark bg-black text-warning" href="/createGroupPage/">Create Group</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<section style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5 ">
                    <div class="justify-content-center">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create A Group</p>
                        <form class="mx-1 mx-md-4" c method="post">
                            {% csrf_token %}

                                <div class="col-lg-8 col-md-8 col-xl-8 mx-auto justify-content-center">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="Group_Name"
                                                   class="form-control"/>
                                            <label class="form-label" for="form3Example1c">Group Name</label>
                                        </div>
                                    </div>
                                     <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="Group_Description" class="form-control"/>
                                            <label class="form-label" for="form3Example1c">Group Description</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="Sport"
                                                   class="form-control"/>
                                            <label class="form-label" for="form3Example1c">Sport</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="Max_Players" class="form-control"/>
                                            <label class="form-label" for="form3Example1c">Max Player Count</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Create Group</button>
                                </div>

                        </form>
                    </div>
                    <div class="row-md-10 row-lg-6 row-xl-7 d-flex align-items-center order-1 order-lg-2">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <img src="{% static 'Group3Capstone/images/AdobeStock_55910509.jpeg' %}"
                                 class="img-fluid" alt="Sample image">


                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>