<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Info Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Group3Capstone/css/groupEventPage.scss' %}">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Panther Pickups</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active bg-black text-warning" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editaccount/">Edit Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark" href="/dashboard/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups/">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark" href="/joinedgroups/">Joined Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events/">Events</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark" href="/createGroupPage/">Create Group</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="page-header text-center">
    <h1>
        Group: {{ group.Group_Name }}
        <small></small>
    </h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="card mx-auto" style="width: 24rem;">
                <div class="card-header">
                    {{ group.Group_Name }} Events
                </div>
                <ul class="list-group overflow-scroll list-group-flush"
                    style="max-height: 350px; min-width: 24rem; overflow-x: hidden !important;">
                    {% for i in events %}
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true"
                           data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-title="{{ i.Event_Name }}"
                           data-bs-id="{{ i.Event_Id }}" data-bs-loc="{{ i.Location }}"
                           data-bs-desc="{{ i.Event_Description }}" data-bs-date="{{ i.Date.date }}"
                           data-bs-time="{{ i.Date.time }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" style="padding-right: 10px">{{ i.Event_Name }}</h5>
                                <small>{{ i.Date.date }}</small>
                            </div>
                            <p class="mb-1"
                               style="text-overflow-ellipsis: ellipsis ellipsis; ">{{ i.Event_Description }}</p>
                            <small>{{ i.Location }}</small>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header">
                    Joined Users
                </div>
                <ul class="list-group list-group-flush">
                    {% for i in users %}
                        <li class="list-group-item"> {{ i.User_FName }} {{ i.User_LName }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card mx-auto" style="width: 24rem;">
                <div class="card-header">
                    {{ group.Group_Name }} Discussion Posts
                </div>
                <ul class="list-group overflow-scroll list-group-flush"
                    style="max-height: 350px; min-width: 24rem; overflow-x: hidden !important;">
                    {% for i in posts %}
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true"
                           data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-title="{{ i.Event_Name }}"
                           data-bs-id="{{ i.Event_Id }}" data-bs-loc="{{ i.Location }}"
                           data-bs-desc="{{ i.Event_Description }}" data-bs-date="{{ i.Date.date }}"
                           data-bs-time="{{ i.Date.time }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" style="padding-right: 10px">{{ i.Event_Name }}</h5>
                                <small>{{ i.Date.date }}</small>
                            </div>
                            <p class="mb-1"
                               style="text-overflow-ellipsis: ellipsis ellipsis; ">{{ i.Event_Description }}</p>
                            <small>{{ i.Location }}</small>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal "create an event" -->
<div class="container mx-auto">
    <div class="row">
        <div class="col-lg-6 mx-auto text-center">
            <button type="button mx-auto" class="btn btn-primary " data-bs-toggle="modal"
                    data-bs-target="#createGroupPost">
                Create a discussion Post
            </button>
            <button type="button mx-auto" class="btn btn-primary " data-bs-toggle="modal"
                    data-bs-target="#createEventModal">
                Create an event
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="createGroupPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel">Create a group post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}

                    <div class="col-lg-8 col-md-8 col-xl-8 mx-auto justify-content-center">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" id="form3Example1c" name="Title"
                                       class="form-control" required>
                                <label class="form-label" for="form3Example1c">Title</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <textarea class="form-control" id="textArea" name="GroupPostText" rows="5" cols="33" required>
                                </textarea>
                                <label class="form-label" for="textArea">Text</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="createGroupPost" class="btn btn-primary">Create Post</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal For Create an Event popup-->
<div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel">Create a game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}

                    <div class="col-lg-8 col-md-8 col-xl-8 mx-auto justify-content-center">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" id="form3Example1c" name="Event_Name"
                                       class="form-control" required>
                                <label class="form-label" for="form3Example1c">Event Name</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" id="form3Example1c" name="Location" class="form-control" required>
                                <label class="form-label" for="form3Example1c">Location</label>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="datetime-local" class="form-control" name="dateTime"
                                       value="{{ placement.date|date:'Y-m-d' }}">
                                <label class="form-label" for="form3Example1c">Date / Time</label>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" id="form3Example1c" name="Description" class="form-control" required>
                                <label class="form-label" for="form3Example1c">Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="createEvent" class="btn btn-primary">Create Event</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal For EVENT popup-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}
                    <div id="title"></div>
                    <strong>Description:</strong>
                    <div id="desc"></div>
                    <strong>Date:</strong>
                    <div id="date"></div>
                    <strong>Time:</strong>
                    <div id="time"></div>
                    <strong>Location:</strong>
                    <div id="location"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="joinEvent" id="joinEvent"
                                data-bs-dismiss="modal">Join Event
                        </button>
                        <div id="code"></div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script src="/../../static/Group3Capstone/js/bootstrap.min.js"></script>
<script>
    var exampleModal = document.getElementById('exampleModal2')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var title = button.getAttribute('data-bs-title')
        var desc = button.getAttribute('data-bs-desc')
        var id = button.getAttribute('data-bs-id')
        var date = button.getAttribute('data-bs-date')
        var time = button.getAttribute('data-bs-time')
        var location = button.getAttribute('data-bs-loc')

        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        document.getElementById("desc").innerHTML = desc;
        document.getElementById("date").innerHTML = date;
        document.getElementById("time").innerHTML = time;
        document.getElementById("location").innerHTML = location;
        var modalTitle = exampleModal.querySelector('.modal-title')
        var btn = document.querySelector('#joinEvent');
        btn.value = id

        modalTitle.textContent = title

    })
</script>
<script type="text/javascript" src="{% static 'Group3Capstone/jquery-3.6.0.js' %}"></script>
{#<script type="text/javascript">#}
{#    window.onload = function () {#}
{#        if (window.jQuery) {#}
{#            alert('jQuery is loaded');#}
{#        } else {#}
{#            alert('jQuery is not loaded');#}
{#        }#}
{#    }#}
{#</script>#}

</body>
</html>]