<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--{%load static%}-->
   <!-- <link rel="stylesheet" href="{% static 'Group3Captsone/css/styles.css' %}"> -->
</head>
<body>
<h1>Pick Up Scheduler</h1>
<form action="/" method="post">
    {% csrf_token %}
    <table>
        <tr><td>Username: </td><td><input type="username" name="UserName" required></td></tr>
        <tr><td>Password: </td><td><input type="password" name="User_Password" required></td></tr>
    </table>
    <input type="submit" class="login" value="Login">
</form>
{{ message }}
</body>
</html>